{% extends "layout.html" %}

{% block title %}Home{% endblock %}

{% block content %}
	<h1>Home</h1>

	<p>The helpful site for ornithophiles everywhere to share their bird experiences!</p>
	{% if logged_in %}
		<form action=/ method="POST">
			<p>Chirp away!</p>
			<input type="text" name="homeForm">
			<br>
			<input type="submit" value="Submit">
		</form>
	{% endif %}
	
	{% for x in posts %}
		<div class="post">
			{{ x["text"] }}
			<br>
			{{ x["username"] }}
			<br>
			{% for r in x["replies"] %}
				{{ r["text"] }}
				<br>
				{{ r["username"] }}
				<br>
			{% endfor %}
		</div>
		{% if logged_in %}
			<form action=/ method="POST">
				<p>Reply to this post?</p>
				<input type="text" name="replyForm">
				<input type="hidden" name="replyToID" value={{ x["_id"] }} readonly>
				<br>
				<input type="submit" value="Submit">
			</form>
		{% endif %}
		<br>
	{% endfor %}

{% endblock %}
